
ion-card{
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 10px;
  color: #ffffff;
}
ion-card-content{
  font-size: small;
}
img{
  height: 250px;
}
ion-title{
  color: #ffffff;
}
ion-subtitle{
  color: #ffffff;
}

  