<app-header titulo="niveles" color="niveles"></app-header>

<ion-content >
  <div style="background-image: url('../../assets/img/backGround/nivelesBG.jpg'); height: 100%;">
      <br><br><br><br><br><br>
  <ion-slides [options]="opcionesSlide">
      <ion-slide *ngFor="let nivel of niveles">
          <ion-card color="dark">
              <img alt="Silhouette of mountains" src="{{nivel.imagen}}" />
              <ion-card-header>
              <ion-card-title>{{nivel.nombre}}</ion-card-title>
              <ion-card-subtitle>{{nivel.Ubicacion}}</ion-card-subtitle>
              </ion-card-header>
          </ion-card>
      </ion-slide>
  </ion-slides>
</div>
</ion-content>