<app-header titulo="nosotros" color="nosotros"></app-header>

<ion-content >
    <div style="background-image: url('../../assets/img/backGround/nosotrosBG.png'); height: 100%;">
        <br><br>
    <ion-slides [options]="opcionesSlide">
        <ion-slide>
            <ion-card>
                <img alt="Silhouette of mountains" style="margin-top: 20px;" src="../../assets/img/nosotros/prp.png" />
                <ion-card-header>
                <ion-card-title>Pollo, Ratón y Pescado</ion-card-title>
                <ion-card-subtitle>Equipo de desarrollo</ion-card-subtitle>
                </ion-card-header>
                
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img alt="Silhouette of mountains" src="../../assets/img/nosotros/vidalIcon.png" />
                <ion-card-header>
                <ion-card-title>Vidal Herrejón</ion-card-title>
                <ion-card-subtitle>TeamLeader</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                    Encargado del desarrollo y diseño de Vestige
                <br><ion-icon name="mail"></ion-icon> utm190009ti@ut-morelia.edu.mx
                <br><ion-icon name="person"></ion-icon> UTM190009TI
                </ion-card-content>
                
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img alt="Silhouette of mountains" src="../../assets/img/nosotros/carlosIcon.png" />
                <ion-card-header>
                <ion-card-title>Carlos Rodriguez</ion-card-title>
                <ion-card-subtitle>Desarrollador</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                Encargado del desarrollo de la PWA
                <br><ion-icon name="mail"></ion-icon> utm190026ti@ut-morelia.edu.mx
                <br><ion-icon name="person"></ion-icon> UTM190026TI
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card>
                <img alt="Silhouette of mountains" src="../../assets/img/nosotros/dsIcon.png" />
                <ion-card-header>
                <ion-card-title>Irwin Flores</ion-card-title>
                <ion-card-subtitle>Desarrollador</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                Encargado del desarrollo de la app móvil y el diseño del arte del juego.
                <br><ion-icon name="mail"></ion-icon> utm131009tic@ut-morelia.edu.mx
                <br><ion-icon name="person"></ion-icon> UTM131009TIC
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</div>
</ion-content>
