<app-header titulo="nosotros" color="nosotros"></app-header>

<ion-content >
    <div style="background-image: url('../../assets/img/backGround/nosotrosBG.png'); height: 100%;">
        <br><br>
    <ion-slides [options]="opcionesSlide">
        <ion-slide>
            <ion-card color="dark">
                <img alt="Silhouette of mountains" src="../../assets/img/vidalIcon.png" />
                <ion-card-header>
                <ion-card-title>Vidal Herrejón</ion-card-title>
                <ion-card-subtitle>TeamLeader</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                Desarrollador :D
                <br><ion-icon name="mail"></ion-icon> utm190009ti@ut-morelia.edu.mx
                <br><ion-icon name="person"></ion-icon> UTM190009TI
                </ion-card-content>
                
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card color="dark">
                <img alt="Silhouette of mountains" src="../../assets/img/carlosIcon.png" />
                <ion-card-header>
                <ion-card-title>Carlos Rodriguez</ion-card-title>
                <ion-card-subtitle>Desarrollador</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                Descripción del charly
                <br><ion-icon name="mail"></ion-icon> utm190026ti@ut-morelia.edu.mx
                <br><ion-icon name="person"></ion-icon> UTM190026TI
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card color="dark">
                <img alt="Silhouette of mountains" src="../../assets/img/dsIcon.png" />
                <ion-card-header>
                <ion-card-title>Irwin Flores</ion-card-title>
                <ion-card-subtitle>:D</ion-card-subtitle>
                </ion-card-header>
            
                <ion-card-content>
                Descripción DS
                <br><ion-icon name="mail"></ion-icon> utm131009tic@ut-morelia.edu.mx
                <br><ion-icon name="person"></ion-icon> UTM131009TIC
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</div>
</ion-content>
