ion-card-header {
    display: flex;
    flex-flow: column-reverse;
  }
  ion-card{
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 15px;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;

  }
  ion-card-content{
    font-size: x-small;
    color: #ffffff;
  }
  ion-card-title{
    color: #ffffff;
  }
  ion-card-subtitle{
    color: #ffffff;
  }
