<app-header titulo="jefes" color="jefes"></app-header>

<ion-content>
    <div class="act" style="background-image: url('../../assets/img/backGround/jefesBG.jpg');">
        <br>
        <ion-card>
            <ion-card-header>
            <ion-card-title>Jefes Finales</ion-card-title>
            </ion-card-header>
        </ion-card>
        <ion-grid>
          <ion-list>
              <ion-item 
              color="rgba(255, 255, 255, 0.075);"
              *ngFor="let jefe of jefes"
              (click)="verDetalleJefes(jefe.id)">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="{{jefe.avatar}}" />
                </ion-thumbnail>
                  <ion-label style="font-family: 'Courier New', Courier, monospace; color: #ffffff;">{{jefe.nombre}}<br>{{jefe.nivel}}</ion-label>
              </ion-item>
          </ion-list>
        </ion-grid>
    </div>
</ion-content>